* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --btn-color: green;
}

header,
main {
  padding: 50px 135px;
}

/* code for nav bar styling */

.brnad-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.brnad-container h1 {
  font-size: 2rem;
}

.brnad-container span {
  color: var(--btn-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items ul {
  display: flex;
  list-style: none;
  gap: 35px;
  align-items: center;
  font-size: larger;
}

.nav-items ul :nth-child(1) {
  color: green;
  font-weight: 700;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu-icon {
  display: none;
}

/* hero section styling */

.hero-section {
  width: 100%;
  height: 500px;
  background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  justify-content: center;
  text-align: center;
}

.hero-content {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.709),
    rgba(0, 0, 0, 0)
  );
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
}

.hero-section h1 {
  font-size: 4rem;
  color: white;
}

.hero-section p {
  margin: 25px auto;
  width: 700px;
  color: white;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 14px 10px;
  width: 768px;
}

.when-box,
.select-box,
.where-box,
.btn-box {
  padding: 15px 10px;
  border-radius: 8px;
  background-color: white;
}

.where-box input {
  background-color: transparent;
  border: none;
}

.when-box input,
select {
  background-color: transparent;
  border: none;
}

.select-box input,
select {
  background-color: transparent;
  border: none;
}

.btn-box {
  padding: 15px 20px;
  background-color: var(--btn-color);
}

.find-btn {
  color: white;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* popular section styling */

.popular-section {
  margin: 50px 0;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.popular-content h1 {
  font-size: 3rem;
  margin: 24px 0;
}

.popular-content p {
  font-size: 1rem;
  color: gray;
  margin: 24px 0;
}

.popular-content ul > li {
  color: gray;
  margin-top: 20px;
}

.btn-readmore {
  cursor: pointer;
  padding: 15px 30px;
  background-color: var(--btn-color);
  color: white;
  font-weight: 500;
  border-radius: 8px;
  border: none;
}

.popular-section img {
  width: 100%;
  height: 100%;
}

/* choose destination styling */

.img-card-container {
  height: auto;
}

.maldives {
  grid-area: maldives;
}

.indonesia {
  grid-area: indonesia;
}

.srilanka {
  grid-area: srilanka;
}

.nort {
  grid-area: nort;
}

.kashmir {
  grid-area: kashmir;
}

.bangladesh {
  grid-area: bangladesh;
}

.bandorban {
  grid-area: bandarban;
}

.img-card-container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "maldives maldives indonesia indonesia"
    "srilanka nort nort kashmir"
    "bangladesh bangladesh bandarban bandarban";
}

.img-card-container img {
  width: 100%;
  height: 300px;
  position: relative;
}

.img-card1,
.img-card2 {
  position: relative;
}

.country-name {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.destination-content h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 10px 0;
}

.destination-content p {
  width: 70%;
  text-align: center;
  margin: 10px auto;
  color: gray;
}

/* code for styling why secion */

.why-section {
  text-align: center;
}

.why-section h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.why-section p {
  margin: 10px auto;
  color: gray;
}

.why-card-container {
  margin-top: 40px;
  display: flex;
  text-align: left;
  gap: 24px;
}

.hotel {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.hotel h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.hotel p {
  font-size: 14px;
}

#map {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

#price {
  max-width: 570px;
  margin: 24px auto;
  border-radius: 16px;
  text-align: left;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* code for styling goals and discounts section */

.goals-cards {
  position: relative;
  width: 100%;
  margin: 30px 0;
  height: 500px;
  border-radius: 16px;
  background-image: url("./Images/Group\ 39.png");
}

.deals-section h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 80px;
}

.deals-section > p {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: gray;
  margin: 20px 0;
}

.available-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px;
}

.available-info h2 {
  font-weight: 500;
}

.goal-card-content {
  bottom: 50%;
  right: 5%;
  transform: translate(0%, 50%);
  position: absolute;
  width: 580px;
  height: 390px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.goal-card-content2 {
  bottom: 50%;
  left: 5%;
  transform: translate(0%, 50%);
  position: absolute;
  width: 580px;
  height: 390px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.goal-upper {
  display: flex;
  gap: 20px;
}

.available-info p {
  color: gray;
}

#btn {
  width: 200px;
}

.clock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  color: orangered;
}

.clock p {
  color: gray;
}

.clock i {
  color: orangered;
}

/* code for styling  review section  */

.review-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card-reviews {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  border: solid rgba(222, 184, 135, 0.499) 2px;
  transition: 0.2s ease-in-out;
}

.circle-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.profile-content h3 {
  font-size: 1rem;
  font-weight: 700;
}

.card-reviews p {
  color: gray;
  font-size: 14px;
}

.circle-profile img {
  width: 70px;
  border-radius: 50px;
  border: 6px solid rgba(128, 128, 128, 0.179);
}

.review span {
  color: var(--btn-color);
}

.review h1 {
  text-align: center;
  margin: 60px 0;
  font-size: 2.5rem;
}

/* code for styling ad section */

.ad-video-section {
  margin: 100px 0;
  display: flex;
  gap: 40px;
  align-items: center;
}

.ad-content h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.ad-content p {
  margin: 20px 0;
  color: gray;
}

.ad-content ul > li {
  margin: 10px;
  color: rgb(55, 55, 55);
  margin-bottom: 20px;
}

.video {
  border-radius: 8px;
}

/* code for styling newsletter section */

.newsletter-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
  margin: 50px auto;
}

/* .news-img {
  width: 100%;
} */

.input-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 40px;
  border-radius: 16px;
  border: solid var(--btn-color) 1px;
  height: 100%;
}

.input-form h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
.input-form p {
  color: gray;
}

.input-form hr {
  opacity: 0.3;
}

.input-form input {
  padding: 15px 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
}

.news-img-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.discount-off {
  position: absolute;

  bottom: 0;
  /* transform: translateX(80%) rotate(-30deg); */

  background-color: var(--btn-color);
  padding: 15px 60px;
  text-align: center;
  color: white;
  border-radius: 8px;
  font-weight: 600;
}

.discount-off {
  transform: rotate(-27.628deg);
  right: 0;
  bottom: 20%;
}

/* code for styling footer section */

.footer-content {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

footer p {
  width: 70%;
  margin: 0 auto;
}

footer {
  background: rgba(19, 19, 24, 0.05);
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 50px;
  justify-content: center;
}

.social-icons {
  display: flex;
  gap: 20px;
  font-size: 30px;
  justify-content: center;
}

.card-reviews:hover {
  scale: 1.05;
}

/* ***************** */
/* responsive code  */
/* for mobile view */

@media screen and (max-width: 576px) {
  header,
  main {
    padding: 20px 30px;
  }

  /* nav section for mobile view */

  .brnad-container img {
    width: 5px;
  }

  .brnad-container h1 {
    font-size: 1rem;
  }

  .nav-items ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  /* hero section for mobile view */

  .hero-section {
    background-position: center;
  }

  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content p {
    width: 100%;
    padding: 0px 20px;
    font-size: 0.8rem;
  }

  .input-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    width: 80%;
  }

  .when-box,
  .select-box,
  .where-box,
  .btn-box {
    width: 200px;
    height: 40px;
    padding: 0;
    text-align: center;
    border-radius: 8px;
    background-color: white;
  }

  .where-box input {
    margin-top: 10px;
    margin-left: -16px;
    text-align: start;
  }

  .when-box input,
  select {
    margin-top: 10px;
    text-align: start;
  }

  .select-box input,
  select {
    margin-top: 10px;
    text-align: start;
  }

  .btn-box {
    background-color: var(--btn-color);
  }

  .btn-box button {
    margin: auto;
    cursor: pointer;
    margin-top: 5px;
  }

  /* pupular section for mobile view */

  .popular-section {
    flex-direction: column;
    margin: 20px 0;
  }

  .popular-content h1 {
    font-size: 2rem;
    text-align: center;
  }

  .popular-content p,
  ul > li {
    font-size: 14px;
    margin: 10px 0;
  }

  /* image card responsive for mobile view */

  .img-card-container {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "maldives"
      "indonesia"
      "srilanka"
      "nort"
      "kashmir"
      "bangladesh"
      "bandarban";
  }

  .img-card-container img {
    height: 200px;
  }

  .destination-content p {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin: 20px auto;
  }

  .destination-content h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  /* why choose us mobile view */

  .why-card-container {
    flex-direction: column;
  }

  #price {
    width: 100%;
    text-align: left;
  }

  .why-section h1 {
    font-size: 1.5rem;
  }

  /* responsive reviews section mobile view */

  .review-section {
    grid-template-columns: 1fr;
  }

  .review h1 {
    margin: 30px;
    font-size: 1.7rem;
  }

  /* code for responsive goals section */

  .goal-card-content {
    width: 100%;
  }

  .available-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;
  }

  .available-info h2 {
    font-weight: 500;
  }

  .goal-card-content2 {
    position: absolute;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
  }

  .goal-card-content {
    width: 90%;
    margin: auto;
    height: auto;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
  }

  .clock {
    display: none;
  }

  .available-info {
    width: 100%;
    height: auto;
  }

  /* code for responsive video section mobile view */

  .ad-video-section {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .video {
    width: 100%;
  }

  /* newsletter for mobile */

  .newsletter-section {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
  }

  .news-img {
    width: 100%;
  }

  .discount-off {
    position: absolute;
    background-color: var(--btn-color);
    padding: 0px 10px;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-weight: 400;
  }

  .discount-off h4 {
    font-size: 1rem;
    font-weight: 400;
  }
  .discount-off h2 {
    font-size: 1.2rem;
  }

  .discount-off {
    transform: rotate(-27.628deg);
    right: 0;
  }

  /* responsive footer for mobile view */

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  footer p {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
  }
}

/* pupular section for mobile view */

/* ***************** */
/* responsive for medium device */

@media screen and (min-width: 576px) and (max-width: 990px) {
  header,
  main {
    padding: 20px 30px;

    /* nav section medium devices */
  }

  .brnad-container h1 {
    font-size: 2rem;
  }

  .nav-items ul {
    display: none;
  }

  .menu-icon {
    display: block;
    scale: 1.4;
  }

  /* hero section medium devices */

  .hero-section {
    background-position: center;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    width: 100%;
    padding: 0 20ox;
  }

  .input-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    width: 80%;
  }

  .when-box,
  .select-box,
  .where-box,
  .btn-box {
    width: 200px;
    height: 40px;
    padding: 0;
    text-align: center;
    border-radius: 8px;
    background-color: white;
  }

  .where-box input {
    margin-top: 10px;
    margin-left: -16px;
    text-align: start;
  }

  .when-box input,
  select {
    margin-top: 10px;
    text-align: start;
  }

  .select-box input,
  select {
    margin-top: 10px;
    text-align: start;
  }

  .btn-box {
    background-color: var(--btn-color);
  }

  .btn-box button {
    margin: auto;
    margin-top: 5px;
  }

  /* popular for medium view */

  .popular-section {
    flex-direction: column;
    margin: 20px 0;
  }

  .popular-content h1 {
    font-size: 2rem;
    text-align: center;
  }

  .popular-content p,
  ul > li {
    font-size: 14px;
    margin: 10px 0;
  }

  /* code for reviews responsive medium view */

  .review-section {
    grid-template-columns: 1fr 1fr;
  }

  /* ad video section medium view */

  .ad-video-section {
    flex-direction: column;
  }

  .newsletter-section {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
  }

  .discount-off {
    transform: translateY(-80%) rotate(-27.628deg);
    right: 0;
  }
}
